<div class="single-page bckg-black">
	<div class="row">
		<div class="small-12 columns text-center"><h1 class="large-font">CREDITS</h1></div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2 columns text-right">
				<img src="assets/svg/public.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Crowd designed by <a href="http://www.thenounproject.com/Shanelad" target="_blank">Shane Holley</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2  columns text-right">
				<img src="assets/svg/pizza.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Pizza designed by <a href="http://www.thenounproject.com/justin.alexander.77398143" target="_blank">Justin Alexander</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2  columns text-right">
				<img src="assets/svg/scythe.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Scythe designed by <a href="http://www.thenounproject.com/ryanmochal" target="_blank">Ryan Mochal</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2  columns text-right">
				<img src="assets/svg/sheep.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Sheep designed by <a href="http://www.thenounproject.com/callumtaylor" target="_blank">Callum Taylor</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row small-margin-bottom">
			<div class="large-12 small-12  columns">
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Agrockathon</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="www.agrockathon.eu" property="cc:attributionName" rel="cc:attributionURL">George Koulouris, Ermis Papastefanakis</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/ermisp/agrockathon_website" rel="dct:source">https://github.com/ermisp/agrockathon_website</a>.
			</div>
		</div>
	</div>
</div>


