<div class="single-page bckg-black">
	<div class="row height-100">
		<div class="small-12 columns text-center"><h1 class="large-font">CREDITS</h1></div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2 columns text-right">
				<img src="assets/svg/public.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Crowd designed by <a href="http://www.thenounproject.com/Shanelad" target="_blank">Shane Holley</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2  columns text-right">
				<img src="assets/svg/pizza.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Pizza designed by <a href="http://www.thenounproject.com/justin.alexander.77398143" target="_blank">Justin Alexander</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
		<div class="row zero-margin-top">
			<div class="large-4 small-2  columns text-right">
				<img src="assets/svg/scythe.svg" />
			</div>
			<div class="large-8 small-10 columns tiny-margin-top">
				Scythe designed by <a href="http://www.thenounproject.com/ryanmochal" target="_blank">Ryan Mochal</a> from the <a href="http://www.thenounproject.com" target="_blank">Noun Project</a>
			</div>
		</div>
	</div>
</div>



