<div class="single-page bckg-ermis-george">
	<div class="row">
		<div class="row height-40">a</div>
		<div class="row height-40">a</div>
		<div class="row">
			<div class="large-4 small-12 columns">
				<h1w> Ο Ερμής Παπαστεφανάκης μεγάλωσε στο Ηράκλειο Κρήτης και πήρε το πτυχίο του Μηχανικού Ηλεκτρονικών Υπολογιστικών Συστημάτων από το ΤΕΙ Πειραιά (teipir.gr). Κατά τη διάρκεια της φοίτησης του πέρασε δύο εξάμηνα στην Βαλένθια της Ισπανίας με το πρόγραμμα Έρασμος και πραγματοποίησε την πρακτική του στο τμήμα ηλεκτρονικών του τραμ των Αθηνών. Στη συνέχεια ολοκλήρωσε το μεταπτυχιακό του στην Ecole Centrale d’Electronique (ece.fr) με ειδίκευση στα ενσωματωμένα συστήματα. Σήμερα ζει και εργάζεται στον Παρίσι στον τομέα της ασφάλειας επικοινωνιών ενώ ταυτόχρονα πραγματοποιεί ένα διδακτορικό στην αρχιτεκτονική των τσιπ των ενσωματωμένων συστημάτων.</h1w>
			</div>
			<div class="large-2 small-12 columns"><br></div>
			<div class="large-4 small-12 columns">
				<h1w> Ο Γιώργος Κουλούρης είναι ηλεκτρολόγος μηχανικός. Έχει ένα διπλό Masters από το Imperial College London στην Αγγλία και το Télécom ParisTech στην Γαλλία. Εώς πρόσφατα, δούλευε ως σύμβουλος επιχειρήσεων σε θέματα καινοτομίας στην Γαλλία και στην Σουηδία. Φέτος, δημιούργησε το Univership, ένα καινοτόμο, παγκόσμιο πρόγραμμα εκπαίδευσης που βασίζεται στην πρακτική εμπειρία, στην αυτονομία και στην ανταλλαγή γνώσεων μεταξύ των μελών του.</h1w>
			</div>
		</div>
	</div>
</div>