<div class="bckg-ermis-george">
	<div class="row">
		<div class="large-5 small-12 columns">
			<div class="row zero-margin-top">
				<div class="small-4 large-6 columns"><h1 class="white" id="ermis">Ermis</h1></div>
				<div class="small-1 columns tiny-margin-top"><h3><a href="https://www.facebook.com/ermisp" target="_blank"><i class="fa fa-facebook ermis-social"></i></a></h3></div>
				<div class="small-1 columns tiny-margin-top"><h3><a href="https://twitter.com/ab1rat0" target="_blank"><i class="fa fa-twitter ermis-social"></i></a></h3></div>
				<div class="small-1 columns tiny-margin-top end"><h3><a href="https://www.linkedin.com/profile/view?id=73676148" target="_blank"><i class="fa fa-linkedin ermis-social"></i></a></h3></div>
			</div>
			<div class="row zero-margin-top">
				<div class="small-2 large-3 columns">
					<div class="switch tiny round">
					  <input id="ermis-cv-btn" type="checkbox" />
						  <label for="ermis-cv-btn" id="ermis-cv-label"><i>Off-record</i></label>
					</div> 
				</div>
			</div>

			<div class="row relative-position tiny-margin-top">
				<div class="small-11 large-12 columns">
					<h4 class="white absolute-position black" id="ermis-cv-onRecord"> Ο Ερμής Παπαστεφανάκης μεγάλωσε στο Ηράκλειο Κρήτης και πήρε το πτυχίο του Μηχανικού Ηλεκτρονικών Υπολογιστικών Συστημάτων από το ΤΕΙ Πειραιά. Πέρασε δύο εξάμηνα στην Βαλένθια της Ισπανίας με το πρόγραμμα Erasmus και πραγματοποίησε την πρακτική του στο τμήμα ηλεκτρονικών του τραμ των Αθηνών. Στη συνέχεια ολοκλήρωσε το μεταπτυχιακό του στην Paris école d'ingénieurs (ECE) με ειδίκευση στα ενσωματωμένα συστήματα. Σήμερα ζει και εργάζεται στον Παρίσι στον τομέα της ασφάλειας επικοινωνιών ενώ ταυτόχρονα πραγματοποιεί ένα διδακτορικό στην αρχιτεκτονική των τσιπ των ενσωματωμένων συστημάτων.</h4>
					<h4 class="white absolute-position" id="ermis-cv-offRecord">Το κομμάτι της πληροφορικής που μου αρέσει περισσότερο είναι οτιδήποτε σχετικό με το <i>¨να πατάς ένα κουμπί και να γίνεται κάτι¨</i> ορατό από το ανθρώπινο μάτι. Αυτό σε <b>πολύ</b> ελεύθερη μετάφραση είναι τα ενσωματωμένα συστήματα (embedded systems). <br/><br/>Ψάχνοντας τον τρόπο να κάνω πράξη την εμπειρία μου σε αυτόν τον τομέα και σε συνδυασμό με την εμμονή που έχω για τα κρητικά προϊόντα, σκεφτήκαμε με το Γιώργο να ξεκινήσουμε το αγκρόκαθον.
					</h4>
				</div>
			</div>	
		</div>
		<div class="large-5 small-12 columns leave-george-margin">
			<div class="row zero-margin-top">
				<div class="small-6 large-8 columns"><h1 class="white" id="george">George</h1></div>
				<div class="small-1 columns tiny-margin-top"><h3><a href="https://www.facebook.com/koulouris2" target="_blank"><i class="fa fa-facebook george-social"></i></a></h3></div>
				<div class="small-1 columns tiny-margin-top"><h3><a href="https://twitter.com/GCoolInfo" target="_blank"><i class="fa fa-twitter george-social"></i></a></h3></div>
				<div class="small-1 columns tiny-margin-top end"><h3><a href="https://www.linkedin.com/profile/view?id=378280275" target="_blank"><i class="fa fa-linkedin george-social"></i></a></h3></div>
			</div>
			<div class="row zero-margin-top">
				<div class="small-2 large-3 columns">
					<div class="switch tiny round">
					  <input id="george-cv-btn" type="checkbox" />
						  <label for="george-cv-btn" id="george-cv-label"><i>Off-record</i></label>
					</div> 
				</div>
			</div>
			<div class="row relative-position tiny-margin-top">
				<div class="small-11 large-12 columns">
					<h4 class="white absolute-position black" id="george-cv-onRecord"> Ο Γιώργος Κουλούρης είναι ηλεκτρολόγος μηχανικός. Έχει ένα διπλό Masters από το Imperial College London στην Αγγλία και το Télécom ParisTech στην Γαλλία. Εως πρόσφατα, δούλευε ως σύμβουλος επιχειρήσεων σε θέματα καινοτομίας στην Γαλλία και στην Σουηδία. Φέτος, δημιούργησε το  <a href="http://univership.org" target="_blank">Univership</a>, ένα καινοτόμο, παγκόσμιο πρόγραμμα εκπαίδευσης που βασίζεται στην πρακτική εμπειρία, στην αυτονομία και στην ανταλλαγή γνώσεων μεταξύ των μελών του.</h4>
					<h4 class="white absolute-position" id="george-cv-offRecord">Άκουγα συνέχεια ότι η Ελλάδα έχει τρομερές αγροτικές και κτηνοτροφικές δυνατότητες. Αλλά δεν έβλεπα κανέναν να κάνει κάτι!! Με τον Ερμή, αποφασίσαμε να δράσουμε. Και έτσι γεννήθηκε το Agrockathon.<br/><br/> Τα τελευταία 2 χρόνια οργάνωvα Hackathon και Makeathon στην Γαλλία και στη Σουηδία.<br/><br/>Φέτος είμαι ένας <a href="http://univership.org" class="black" target="_blank">Univern</a>, ακολουθώντας ένα πρωτοποριακό (<i>και εξουθενωτικό...!</i>) εκπαιδευτικό πρόγραμμα. Το Agrockathon είναι ένα από τα 4 ομαδικά μου project.</h4>
				</div>
			</div>
		</div>
	</div>
</div>