<div class="bckg-image-farmers-white">
	<div class="row">
		<div class="small-12 large-centered small-centered columns text-center small-margin-top">
			<h2>Η ιδέα πίσω από Agrockathon.</h2>
			<dl class="tabs accordion" data-tab> 
				<dd class="active">
					<a href="#panel1">Με λίγα λόγια</a>
				</dd> 
				<dd>
					<a href="#panel2">Με πολλά λόγια</a>
				</dd> 
			</dl> 
			<div class="tabs-content"> 
				<div class="content active" id="panel1"> 
					<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p> 
				</div> 
				<div class="content" id="panel2"> 
					<p>Αυτό που έχουμε δει είναι ότι η τεχνολογία της πληροφορικής έχει εξελιχθεί αρκετά ώστε να επιτύχει σε μεγάλο βαθμό τον αρχικό της στόχο. Αυτός κατά τη γνώμη μας είναι να λειτουργήσει σαν εργαλείο για να διευκολύνει τις δραστηριότητες της καθημερινότητας μας.</p>

					<p>Παρόλα αυτά όμως διαπιστώσαμε πως η τεχνολογία εξακολουθεί να μην είναι προσιτή τόσο λόγω διαθεσιμότητας όσο και λόγω κόστους. Πολλές φορές παρατηρούμε ότι οι τεχνολογικές λύσεις δεν καταφέρνουν να προσαρμοστούν τόσο καλά στις ανάγκες του κοινού για το οποίο προορίζονται. Είναι σε ένα βαθμό φυσικό μια εταιρία να μην μπορεί να καλύψει τις ανάγκες όλων των πιθανών πελατών, ειδικά στην Ευρώπη που σε κάποιες εκατοντάδες χιλιόμετρα αλλάζει κανείς κουλτούρα, κλίμα, γλώσσα και συνήθειες.</p>

					<p>Κατά τη γνώμη μας όμως υπάρχει ακόμα ένας λόγος. Οι ομάδες των ανθρώπων που προσπαθούν να καταλάβουν την ανάγκη ενός επαγγελματία τις πιο πολλές φορές δεν έχουν ασκήσει ποτέ το επάγγελμα το οποίο μελετούν. Από την άλλη μεριά βλέπουμε κάτι ιδιαίτερα σημαντικό, ότι σε πολλούς τομείς οι επαγγελματίες δεν ξέρουν τι μπορούν να ζητήσουν από την πληροφορική. </p>

					<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p> 
				</div> 
			</div>
			<!-- <dl data-accordion class="accordion">
					<dd class="accordion-navigation"> 
						<a href="#hackathon_manifest_short"><h4 class="white">Με λίγα λόγια</h4></a> 
						<div id="hackathon_manifest_short" class="content active">
							<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p>
						</div>
					</dd>
					<dd class="accordion-navigation"> 
						<a href="#hackathon_manifest"><h4 class="white">Με πολλά λόγια</h4></a> 
						<div id="hackathon_manifest" class="content">
							<p>Αυτό που έχουμε δει είναι ότι η τεχνολογία της πληροφορικής έχει εξελιχθεί αρκετά ώστε να επιτύχει σε μεγάλο βαθμό τον αρχικό της στόχο. Αυτός κατά τη γνώμη μας είναι να λειτουργήσει σαν εργαλείο για να διευκολύνει τις δραστηριότητες της καθημερινότητας μας.</p>

							<p>Παρόλα αυτά όμως διαπιστώσαμε πως η τεχνολογία εξακολουθεί να μην είναι προσιτή τόσο λόγω διαθεσιμότητας όσο και λόγω κόστους. Πολλές φορές παρατηρούμε ότι οι τεχνολογικές λύσεις δεν καταφέρνουν να προσαρμοστούν τόσο καλά στις ανάγκες του κοινού για το οποίο προορίζονται. Είναι σε ένα βαθμό φυσικό μια εταιρία να μην μπορεί να καλύψει τις ανάγκες όλων των πιθανών πελατών, ειδικά στην Ευρώπη που σε κάποιες εκατοντάδες χιλιόμετρα αλλάζει κανείς κουλτούρα, κλίμα, γλώσσα και συνήθειες.</p>

							<p>Κατά τη γνώμη μας όμως υπάρχει ακόμα ένας λόγος. Οι ομάδες των ανθρώπων που προσπαθούν να καταλάβουν την ανάγκη ενός επαγγελματία τις πιο πολλές φορές δεν έχουν ασκήσει ποτέ το επάγγελμα το οποίο μελετούν. Από την άλλη μεριά βλέπουμε κάτι ιδιαίτερα σημαντικό, ότι σε πολλούς τομείς οι επαγγελματίες δεν ξέρουν τι μπορούν να ζητήσουν από την πληροφορική. </p>

							<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p>
						</div>
					</dd>
			</dl> -->
			<p>Το agrockathon (αγκρόκαθον) προέρχεται από τα agriculture και hackathon και από όσα γνωρίζουμε σήμερα είναι το πρώτο αγροτικό hackathon που έχει οργανωθεί στο Ηράκλειο, πιθανότατα και σε όλη την Ελλάδα. <a target="_blank" href="#faq" class="green">(τί είναι hackathon;)</a></p>
		</div>
		
		<div class="small-12 large-6 large-centered small-centered columns text-center small-margin-top">
			<h2>Ψάχνουμε...</h2>
			<p>Τέσσερις ομάδες από 6 έως 8 άτομα οι οποίες θα αποτελούνται από όλες τις παρακάτω ειδικότητες. </p>
		</div>
		<div class="row">
				<div class="small-12 medium-3 small-margin-top columns">
					<img class="width-50" src="assets/svg/producer-logo.svg" />
					<ul>
						<li>Καλλιεργητές</li>
						<li>Ελαιοπαραγωγούς</li>
						<li>Αμπελουργούς</li>
						<li>Κτηνοτρόφους</li>
						<li>Μελισσοκόμους</li>
					</ul>				
					
				</div>
				<div class="small-12 medium-3 small-margin-top columns">
					<img class="width-50" src="assets/svg/farmer-logo.svg" />
					<ul>
						<li>Επαγγελματίες γεωπόνους</li>
						<li>Καθηγητές γεωπονίας</li>
						<li>Φοιτητές από γεωπονικές σχολές</li>
					</ul>	
				</div>
				<div class="small-12 medium-3 small-margin-top columns">
					<img class="width-50" src="assets/svg/coder-logo.svg" />
					<ul>
						<li>Επαγγελματίες της πληροφορικής</li>
						<li>Μηχανικους υπολογιστών</li>
						<li>Καθηγητές πληροφορικής</li>
						<li>Φοιτητές πανεπιστημιακών ή πολυτεχνικών σχολών</li>
					</ul>	
				</div>
				<div class="small-12 medium-3 small-margin-top columns">
					<img class="width-50" src="assets/svg/engineer-logo.svg" />
					<ul>
						<li>Σχεδιαστές</li>
						<li>Γραφίστες</li>
						<li>Αρχιτέκτονες</li>
						<li>Τεχνίτες (Ξυλουργός,Μεταλλουργός)</li>
					</ul>	
				</div>
		</div>
		<div class="small-9 columns small-margin-top small-centered">
			<p>Οι συμμετέχοντες για τρεις ημέρες (Παρασκευή μέχρι Κυριακή) θα ανταλλάξουν ιδέες, θα τις αξιολογήσουν και κατόπιν να χωριστούν σε ομάδες για να δημιουργήσουν λειτουργικές συσκευές ή συστήματα. Το απόγευμα της Κυριακής θα γίνει η παρουσίαση των αποτελεσμάτων και η πρόσκληση θα είναι ανοιχτή στο κοινό.</p>
		</div>
		<div class="small-12 small-centered columns text-center small-margin-top">
			<h2>Οι στόχοι του agrockathon.</h2>
		</div>
		<div class"small-6 columns small-centered small-margin-top">
			

			<p><h4>Το <strong>επιθυμητό αποτέλεσμα</strong> είναι οι ομάδες να δημιουργήσουν συσκευές και συστήματα για θα δείξουν την βασική λειτουργία της τεχνολογικής λύσης. Αυτό θα δώσει την δυνατότητα δημιουργίας ενός τελικού προϊόντος σε δεύτερο χρόνο.</h4>

			Κάποια παραδείγματα ιδεών:
				<ol>
					<li>Επιτήρηση της αγροτικής/κτηνοτροφικής παραγωγής (π.χ. τηλε-επιτήρηση θέσης και κατάστασης ενός κοπαδιού) </li>

					<li>Εκσυγχρονισμός συσκευών χρησιμοποιώντας νέες τεχνολογίες και το διαδίκτυο (π.χ. τηλεχειριζόμενο σύστημα άρδευσης).</li>

					<li>Πλατφόρμες ανταλλαγής πληροφοριών για καλύτερο συντονισμό της παραγωγής και διανομής (π.χ. ποια αγροτικά προϊόντα παράγονται στο νομό τον συγκεκριμένο χρόνο).</li>
				</ol>
			</p>
			<p><h4>Επίσης <strong>επιθυμητό αποτέλεσμα</strong> είναι να δημιουργηθεί μετά το agrockathon ένα σύνολο επιχειρηματικών πρωτοβουλιών με στόχο την υιοθέτηση και την υλοποίηση των ιδεών σε προϊόντα. Αυτό θα μπορούσε να γίνει με τη δημιουργία startup ή μέσω εταιριών που θα έχουν το ενδιαφέρον να δραστηριοποιηθούν στην αγροτική τεχνολογία.</h4></p>
			<!-- <p><h4> Τα μέσα για να γίνει μπορούν να είναι χρηματοδοτήσεις ή επενδύσεις που προέρχονται από τον ιδιωτικό τομέα καθώς και από κρατικά ή ευρωπαϊκά προγράμματα που θα αφορούν τις νέες τεχνολογίες και την αγροτική επιχειρηματικότητα</h4></p> -->
		</div>
	</div>
</div>