<div class="bckg-white">
	<div class="row">
		<div class"small-12 columns">
			<p><h4>Το αγκρόκαθον προέρχεται από τα agriculture και hackathon και από όσα γνωρίζουμε σήμερα είναι το πρώτο αγροτικό hackathon που έχει οργανωθεί στο Ηράκλειο, πιθανότατα και σε όλη την Κρήτη. <a target="_blank" href="#faq"><h4>(τί είναι hackathon;)</h4></a></h4></p>

			<p><h3>Η ιδέα πίσω από Agrockathon.</h3></a>

			<p><h4>Αυτό που έχουμε πλέον δει να συμβαίνει είναι ότι η τεχνολογία της πληροφορικής έχει εξελιχθεί αρκετά ώστε να επιτύχει σε μεγάλο βαθμό τον αρχικό της στόχο ο οποίος κατά τη γνώμη μας είναι να λειτουργήσει σαν εργαλείο και να διευκολύνει τις δραστηριότητες μας.</h4></a>

			<p><h4>Παρόλα αυτά όμως διαπιστώσαμε πως η τεχνολογία εξακολουθεί να μην είναι προσιτή τόσο λόγω διαθεσιμότητας όσο και λόγω κόστους. Επίσης πολλές φορές παρατηρούμε ότι οι τεχνολογικές λύσεις δεν καταφέρνουν να προσαρμοστούν τόσο καλά στις ανάγκες του κοινού για οποίο προορίζονται. Αυτό είναι σε ένα βαθμό φυσικό λόγω του ότι μια εταιρία δεν μπορεί να καλύψει όλες τις ανάγκες ειδικά στην Ευρώπη που σε κάποιες εκατοντάδες χιλιόμετρα αλλάζει κανείς κουλτούρα, κλίμα, γλώσσα και συνήθειες.</h4></a>

			<p><h4>Κατά τη γνώμη μας όμως υπάρχει ακόμα ένας λόγος. Οι ομάδες των ανθρώπων που προσπαθούν να καταλάβουν την ανάγκη ενός επαγγελματία τις πιο πολλές φορές δεν έχουν ασκήσει ποτέ το επάγγελμα το οποίο μελετούν. Στην άλλη πλευρά του νομίσματος βλέπουμε, κάτι που για εμάς είναι ιδιαίτερα σημαντικό, ότι σε πολλούς τομείς οι επαγγελματίες δεν ξέρουν τι μπορούν να ζητήσουν από την πληροφορική. </h4></a>

			<p><h4>Η ιδέα μας λοιπόν είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες και που θα απαντούν σε πραγματικά προβλήματα.</h4></a>

			<p><h4>Δανειζόμαστε τις διαδικασίες ενός χάκαθον αλλά το αγκρόκαθον είναι κάτι περισσότερο. Και αυτό είναι το να αποφύγουμε να αναπτύξουμε ιδέες χωρίς να ξέρουμε αν θα ενδιαφέρουν κάποιον. Αλλά να βρεθούν στην ίδια ομάδα οι τελικοί χρήστες και να βοηθήσουν στην επιλογή των ιδεών που θα ήθελαν να δουν στο μέλλον να έρχονται στη διάθεση τους</h4></a>

			<p><h3>Οι στόχοι του αγκρόκαθον:</h3></p>

			<p><h4>Τα πρότζεκτ που θα αναπτυχθούν πρέπει να σχετίζονται με την αγροτική καλλιέργεια ή την κτηνοτροφία και ειδικά με τα είδη που συναντώνται στην Κρήτη. Επιπλέον συγκεντρώνουμε τις προσπάθειες μας σε ότι έχει να κάνει με τα πρώτα στάδια της αγροτικής παραγωγής, δηλαδή την καλλιέργεια, την αποθήκευση των προϊόντων Σε δεύτερο βαθμό όμως θα μας ενδιέφερε και η μεταποίηση ή η προώθηση και οι αλυσίδες τροφοδότησης.</h4></a>

			<p><h4>Τέσσερις ή πέντε ομάδες από 6 έως 8 άτομα οι οποίες θα αποτελούνται από όλες τις ειδικότητες που αναφέραμε πριν.</h4></a>

			<p><h4>Θα διαρκέσει τρεις ημέρες Παρασκευή μέχρι Κυριακή κατά τις οποίες οι συμμετέχοντες θα ανταλλάξουν ιδέες, θα τις αξιολογήσουν και κατόπιν να χωριστούν σε ομάδες για να δημιουργήσουν λειτουργικές συσκευές ή συστήματα. Το απόγευμα της Κυριακής θα γίνει η παρουσίαση των αποτελεσμάτων και η πρόσκληση θα είναι ανοιχτή στο κοινό.</h4></a>

			<p><h3>Εμένα με ενδιαφέρει;</h3></p>
		</div>
	</div>
</div>
<div class="single-page bckg-image-groupwork-white">
	<div class="row height-100">
		<div class="small-10 large-12 columns small-centered text-center">
			<h3 class="large-font">Τα <strong>Hackathon</strong> είναι συγκεντρώσεις προγραμματιστών στις οποίες κατασκευάζονται λειτουργικές τεχνολογικές λύσεις σε έναν πολύ περιορισμένο χρόνο.
			</h3>
		</div>
		<div class="row height-60">
			<div class="small-12 columns height-100 small-centered text-center">
				<img class="height-100" src="assets/svg/hackathon.svg" />
			</div>
		</div>
	</div>
</div>