<div class="single-page bckg-image-groupwork-white">
	<div class="row height-100">
		<div class="small-10 large-12 columns small-centered text-center">
			<h3 class="large-font">Τα <strong>Hackathon</strong> είναι συγκεντρώσεις προγραμματιστών στις οποίες κατασκευάζονται λειτουργικές τεχνολογικές λύσεις σε έναν πολύ περιορισμένο χρόνο.
			</h3>
		</div>
		<div class="row height-60">
			<div class="small-12 columns height-100 small-centered text-center">
				<img class="height-100" src="assets/svg/hackathon.svg" />
			</div>
		</div>
	</div>
</div>