<div class="single-page bckg-image-crete-white">
	<div class="row height-100">
		<div class="small-12 columns text-center"><h1 class="large-font">IOYNIOS 2015</h1></div>
		<div class="row bottom">
			<div class="small-10 small-centered columns text-center"><a href="#" class="green" data-reveal-id="mdlProjectGoals"><img class="width-100" src="assets/svg/crete.svg" /></a></div>
		</div>
	</div>
</div>
<div id="mdlProjectGoals" class="reveal-modal bckg-image-crete-white" data-reveal>
  <h2>Οι στόχοι του αγκρόκαθον</h2>
  <h3>Τα πρότζεκτ που θα αναπτυχθούν:
  <ul>
	  <li>να σχετίζονται με την αγροτική καλλιέργεια με τα είδη καλλιέργειας που συναντώνται στην Κρήτη</a></li>
	  <li>να είναι γύρω από ότι έχει να κάνει με τα πρώτα στάδια της αγροτικής παραγωγής (καλλιέργεια, αποθήκευση προϊόντων)</a></li>
	  <li>σε δεύτερο βαθμό η μεταποίηση ή η προώθηση και οι αλυσίδες τροφοδότησης</a></li>
  </ul>
  </h3>
  <a class="close-reveal-modal">&#215;</a>
</div>