<div class="single-page bckg-purple">
	<div class="row">
		<div class="small-12 columns"><h1 class="very-large-font">72</h1></div>
	</div>
	<div class="row">
		<div class="large-7 small-10 columns text-left"><h3 class="white">ώρες για ώστε κάθε ομάδα να δημιουργήσει μία συσκευή ή ένα σύστημα που να λύνει μία πραγματική αγροτική/ κτηνοτροφική ανάγκη</h3></div>
	</div>
	<div class="row height-40">
		<div class="small-12 columns text-right end height-100">
			<img class="height-100" src="assets/svg/agrockathon-logo.svg" />
		</div>
	</div>
</div>