<div class="single-page bckg-black">
	<div class="row">
		<div class="small-2 columns"><h1 class="very-large-font">4</h1></div>
	</div>
	<div class="row">
		<div class="small-10 columns"><h3 class="white">ομάδες ανθρώπων με διαφορετικές ικανότητες.</h3></div>
	</div>
	<div class="row">
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/farmer-logo.svg" />
			<p class="white">Αγρότες & Γεωπόνοι</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/coder-logo.svg" />
			<p class="white">Προγραμματιστές</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/designer-logo.svg" />
			<p class="white">Designers</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/engineer-logo.svg" />
			<p class="white">Τεχνίτες</p>
		</div>
	</div>
</div>