<div class="single-page bckg-black">
	<div class="row">
		<div class="small-2 columns"><h1 class="very-large-font"><a href="#" class="green" data-reveal-id="mdl4Teams">4</a></h1></div>
	</div>
	<div class="row">
		<div class="small-10 columns"><h3 class="white">ομάδες ανθρώπων με διαφορετικές ικανότητες.</h3></div>
	</div>
	<div class="row">
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/farmer-logo.svg" />
			<p class="white">Αγρότες & Γεωπόνοι</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/coder-logo.svg" />
			<p class="white">Προγραμματιστές</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/designer-logo.svg" />
			<p class="white">Designers</p>
		</div>
		<div class="small-6 large-3 columns text-center small-margin-top">
			<img class="width-50" src="assets/svg/engineer-logo.svg" />
			<p class="white">Τεχνίτες</p>
		</div>
	</div>
</div>
<div id="mdl4Teams" class="reveal-modal bckg-black" data-reveal>
	<h2>Οι ομάδες</h2>
  	<h3>
  		<p>Οι τεχνολόγοι που προσπαθούν να καταλάβουν την ανάγκη ενός επαγγελματία τις πιο πολλές φορές δεν έχουν ασκήσει ποτέ το επάγγελμα το οποίο μελετούν. Στην την άλλη πλευρά του νομίσματος βλέπουμε, κάτι που για εμάς είναι ιδιαίτερα σημαντικό, ότι σε πολλούς τομείς οι επαγγελματίες δεν ξέρουν τι μπορούν να ζητήσουν από την πληροφορική.</p>

		<p>Ο σκοπός λοιπόν είναι να έρθουν σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες και που θα απαντούν σε πραγματικά προβλήματα.</p>
	</h3>
  <a class="close-reveal-modal">&#215;</a>
</div>
