<div class="single-page bckg-image-farmers-white">
	<div class="row" id="animation-element-1-trigger">
		<div class="small-12 small-margin-top columns">
		</div>

		<div class="row">
			<div class="small-4 medium-3 small-offset-1 medium-offset-1 columns">
				<a href="http://colabworkspace.com/" target="_blank"><img src="assets/img/logos/colab.png" /></a>
			</div>
			<div class="small-4 medium-3 small-offset-2 medium-offset-3 columns end">
				<a href="http://www.heraklion.gr/" target="_blank"><img src="assets/img/logos/dimos.png" /></a>
			</div>
		</div>

		<div class="row">
			<div class="small-4 medium-3 small-offset-1 medium-offset-1  columns">
				<a href="http://www.ekt.gr/en/" target="_blank"><img src="assets/img/logos/ekt.png" /></a>
			</div>
			<div class="small-4  medium-3 small-offset-2 medium-offset-3 columns end">
				<a href="http://een.ec.europa.eu/" target="_blank"><img src="assets/img/logos/een.png" /></a>
			</div>
		</div>
	</div>
</div>