<div class="single-page bckg-white">
	<div class="row height-100">
		<div class="row height-40">
			<div class="small-12 small-centered columns text-center height-100"><img class="height-100" src="assets/svg/agrockathon-logo.svg" /></div>
		</div>
		<div class="row">
			<div class="small-12 small-centered columns text-center"><h1 class="trigger-video"><a href="#" class="green" data-reveal-id="videoModal">AGROCKATHON <i class="play-video orange fa fa-play-circle-o green"></i></a></h1></div>
		</div>
		<div class="row">
			<div class="small-5 small-centered columns text-center"><div class="dotted-border"></div></div>
		</div>
		<div class="row">
			<div class="small-7 small-centered columns text-center"><h3>Καλλιεργούμε ιδέες,<br/>Παράγουμε καινοτομία.</h3></div>
		</div>
	</div>
	<div id="videoModal" class="reveal-modal large" data-reveal="">
		<div class="flex-video widescreen vimeo" style="display: block;">
			<iframe width="100%" src="http://www.youtube.com/embed/6CC_B6ma4SA?rel=0" frameborder="0" allowfullscreen="" data-src="http://www.youtube.com/embed/6CC_B6ma4SA?rel=0"></iframe>
		</div>

		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>