<div class="single-page bckg-image-groupwork-white">
	<div class="row height-100">
		<div class="small-12 large-12 columns small-centered text-center">
			<h3 class="large-font">Το <strong>Agrockathon</strong> είναι μία συνάντηση διάρκειας κάποιων ημερών, μεταξύ αγροτών, κτηνοτρόφων, γεωπόνων και τεχνολόγων. Στόχος είναι η δημιουργία πρωτότυπων συσκευών και συστημάτων που θα βοηθήσουν την αγροτική παραγωγή.
			</h3>
		</div>
		<div class="small-12 columns height-60 small-centered text-center">
			<img class="height-100" src="assets/svg/agrockathon-triangle.svg" />
		</div>
	</div>
</div>