<div class="single-page bckg-image-groupwork-white">
	<div class="row height-100">
		<div class="small-10 large-12 columns small-centered text-center">
			<h3 class="large-font">Το <strong>Agrockathon</strong> είναι μία ολιγοήμερη συνάντηση εργασίας αγροτών, γεωπόνων και μηχανικών. Αποσκοπεί στην δημιουργία πρωτότυπων συσκευών και συστημάτων που αυτοματοποιούν την αγροτική παραγωγή.
			</h3>
		</div>
		<div class="small-12 columns height-60 small-centered text-center">
			<img class="height-100" src="assets/svg/agrockathon-triangle.svg" />
		</div>
		<div class="row">
			<div class="small-6 columns">
				<a href="#event" class="button expand bckg-green">ΠΕΡΙΣΣΟΤΕΡΕΣ ΠΛΗΡΟΦΟΡΙΕΣ</a>
			</div>
			<div class="small-6 columns">
				<a href="#participate" class="button expand bckg-green">ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ</a>
			</div>
		</div>
	</div>
</div>