<div class="single-page bckg-image-farmers-white">
	<div class="row" id="animation-element-1-trigger">
		<div class="small-12 small-margin-top columns">
		</div>
		<div class="small-5 medium-4 large-4 small-offset-1 columns">
			<a href="http://colabworkspace.com/" target="_blank"><img src="assets/img/logos/colab.png" /></a>
		</div>
		<div class="small-5 medium-4 large-4 small-offset-1 columns end">
			<a href="http://www.heraklion.gr/" target="_blank"><img src="assets/img/logos/dimos.png" /></a>
		</div>
		<!--<div class="small-4 medium-3 large-4 columns">
			<a href="http://www.cosmote.com/"><img src="assets/svg/logos/cosmote.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-4 columns">
			<a href="http://europa.eu/index_en.htm"><img src="assets/svg/logos/eu.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://dell.com"><img src="assets/svg/logos/dell.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://google.com"><img src="assets/svg/logos/google.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://shell.com"><img src="assets/svg/logos/shell.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://bell.com"><img src="assets/svg/logos/bell.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://nasa.com"><img src="assets/svg/logos/nasa.svg" /></a>
		</div>
		<div class="small-4 medium-3 large-2 columns">
			<a href="http://thales.com"><img src="assets/svg/logos/thales.svg" /></a>
		</div>-->
	</div>
</div>