<div class="bckg-image-farmers-white">
	<div class="row" id="animation-element-1-trigger">
		<div class="small-12 large-12 columns small-centered large-centered">
			<h2 class="text-shadow" id="animation-element-1">
				<h2>Η ιδέα πίσω από Agrockathon.</h2>
				<p>Το agrockathon (αγκρόκαθον) προέρχεται από τα agriculture και hackathon και από όσα γνωρίζουμε σήμερα είναι το πρώτο αγροτικό hackathon που έχει οργανωθεί στο Ηράκλειο, πιθανότατα και σε όλη την Ελλάδα. <a target="_blank" href="#faq" class="green">(τί είναι hackathon;)</a></p>

				<dl data-accordion class="accordion">
					<dd class="accordion-navigation"> 
						<a href="#hackathon_manifest"><h4 class="white">Με πολλά λόγια</h4></a> 
						<div id="hackathon_manifest" class="content">
							<p>Αυτό που έχουμε δει είναι ότι η τεχνολογία της πληροφορικής έχει εξελιχθεί αρκετά ώστε να επιτύχει σε μεγάλο βαθμό τον αρχικό της στόχο. Αυτός κατά τη γνώμη μας είναι να λειτουργήσει σαν εργαλείο για να διευκολύνει τις δραστηριότητες της καθημερινότητας μας.</p>

							<p>Παρόλα αυτά όμως διαπιστώσαμε πως η τεχνολογία εξακολουθεί να μην είναι προσιτή τόσο λόγω διαθεσιμότητας όσο και λόγω κόστους. Πολλές φορές παρατηρούμε ότι οι τεχνολογικές λύσεις δεν καταφέρνουν να προσαρμοστούν τόσο καλά στις ανάγκες του κοινού για το οποίο προορίζονται. Είναι σε ένα βαθμό φυσικό μια εταιρία να μην μπορεί να καλύψει τις ανάγκες όλων των πιθανών πελατών, ειδικά στην Ευρώπη που σε κάποιες εκατοντάδες χιλιόμετρα αλλάζει κανείς κουλτούρα, κλίμα, γλώσσα και συνήθειες.</p>

							<p>Κατά τη γνώμη μας όμως υπάρχει ακόμα ένας λόγος. Οι ομάδες των ανθρώπων που προσπαθούν να καταλάβουν την ανάγκη ενός επαγγελματία τις πιο πολλές φορές δεν έχουν ασκήσει ποτέ το επάγγελμα το οποίο μελετούν. Από την άλλη μεριά βλέπουμε κάτι ιδιαίτερα σημαντικό, ότι σε πολλούς τομείς οι επαγγελματίες δεν ξέρουν τι μπορούν να ζητήσουν από την πληροφορική. </p>

							<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p>
						</div>
					</dd>
					<dd class="accordion-navigation"> 
						<a href="#hackathon_manifest_short"><h4 class="white">Με λίγα λόγια</h4></a> 
						<div id="hackathon_manifest_short" class="content">
							<p>Η ιδέα μας είναι να φέρουμε σε επαφή επαγγελματίες του αγροτικού τομέα και τεχνολόγους της πληροφορικής ώστε να γίνει αυτή η ανταλλαγή γνώσεων και εμπειριών με επιθυμητό αποτέλεσμα να παραχθούν πρωτότυπα προϊόντα βασισμένα σε κοινές ιδέες οι οποίες απαντούν σε πραγματικά προβλήματα.</p>
						</div>
					</dd>
				</dl>
			</h2>
			<br><br>
		</div>

	</div>
</div>