<div class="bckg-image-groupwork-white">
	<div class="row">
		<div class="small-12 large-12 columns small-centered text-center">
			<h3 class="large-font">Το <strong>Agrockathon</strong> είναι μία συνάντηση μεταξύ αγροτών, κτηνοτρόφων, γεωπόνων και τεχνολόγων.
			</h3>
		</div>
		<div class="small-12 columns height-60 small-centered text-center">
			<img class="height-100" src="assets/svg/agrockathon-triangle.svg" />
		</div>
		<div class"small-6 columns small-centered small-margin-top">

			<p><h4>Το <strong>επιθυμητό αποτέλεσμα</strong> είναι οι ομάδες να δημιουργήσουν συσκευές και συστήματα για θα δείξουν την βασική λειτουργία μιας τεχνολογικής λύσης. Αυτό θα δώσει την δυνατότητα δημιουργίας ενός τελικού προϊόντος σε δεύτερο χρόνο.</h4>

			Κάποια πιο συγκεκριμένα παραδείγματα <strong>που δεν αποτελούν όμως τους μοναδικούς άξονες</strong>:
				<ol>
					<li>Τηλε-επιτήρηση θέσης και κατάστασης ενός κοπαδιού. </li>

					<li>Σύστημα άρδευσης με δυνατότητα τηλέχειρισμού.</li>

					<li>Πλατφόρμες ανταλλαγής πληροφοριών π.χ. ποια αγροτικά προϊόντα παράγονται στο νομό τον συγκεκριμένο χρόνο.</li>
				</ol>
			</p>
			<p><h4>Επίσης <strong>επιθυμητό αποτέλεσμα</strong> είναι να δημιουργηθεί μετά το agrockathon ένα σύνολο επιχειρηματικών πρωτοβουλιών με στόχο την υιοθέτηση και την υλοποίηση των ιδεών σε προϊόντα. </h4></p>
		</div>
	</div>
</div>