<div class="single-page bckg-white">
	<div class="row height-100">
		<div class="row height-40">
			<div class="small-12 small-centered columns text-center height-100"><img class="height-100" src="assets/svg/agrockathon-logo.svg" /></div>
		</div>
		<div class="row">
			<div class="small-12 small-centered columns text-center"><h1>AGROCKATHON</h1></div>
		</div>
		<div class="row">
			<div class="small-5 small-centered columns text-center"><div class="dotted-border"></div></div>
		</div>
		<div class="row">
			<div class="small-7 small-centered columns text-center"><h3>Καλλιεργούμε ιδέες,<br/>Παράγουμε καινοτομία.</h3></div>
		</div>
		<div class="row">
			<div class="small-3 small-centered columns text-center"><a href="#" class="button expand green" data-reveal-id="videoModal">Περισσότερες Πληροφορίες</a></div>
		</div>
	</div>
</div>