<div class="bckg-image-participate-white">
	<div class="row">
		<div class="small-12 small-centered text-center columns"><h2>Μήπως είσαι...</h2></div>
		<div class="small-12 large-3 medium-3 columns text-center small-margin-top">
			<img class="width-50 opacity-80" src="assets/svg/producer-logo.svg" />
			<p class="black">Παραγωγός
				<ul>
					<li>Καλλιεργητής</li>
					<li>Ελαιοπαραγωγός</li>
					<li>Αμπελουργός</li>
					<li>Κτηνοτρόφος</li>
					<li>Μελισσοκόμος</li>
				</ul>
			</p>
		</div>
		<div class="small-12 large-3 medium-3 columns text-center small-margin-top">
			<img class="width-50 opacity-80" src="assets/svg/farmer-logo.svg" />
			<p class="black">Γεωπόνος
				<ul>
					<li>Επαγγελματίας</li>
					<li>Καθηγητής γεωπονίας</li>
					<li>Φοιτητής γεωπονίας</li>
				</ul>	
			</p>
		</div>
		<div class="small-12 large-3 medium-3 columns text-center small-margin-top">
			<img class="width-50 opacity-80" src="assets/svg/coder-logo.svg" />
			<p class="black">Προγραμματιστής
				<ul>
					<li>Επαγγελματίας της πληροφορικής, μηχανικός υπολογιστών</li>
					<li>Καθηγητής πληροφορικής</li>
					<li>Φοιτητής πληροφορικής</li>
				</ul>	
			</p>
		</div>
		<div class="small-12 large-3 medium-3 columns text-center small-margin-top">
			<img class="width-50 opacity-80" src="assets/svg/engineer-logo.svg" />
			<p class="black">Designer ή Τεχνίτης
				<ul>
					<li>Γραφίστας</li>
					<li>Αρχιτέκτονας</li>
					<li>Τεχνίτης (Ξυλουργός,Μεταλλουργός)</li>
				</ul>	
			</p>
		</div>
		<div class="row" id="trigger-annimation">
			<div class="small-10 large-6 medium-6 text-center small-centered large-uncentered medium-uncentered columns small-margin-top" id="fade-in-left-1"><h3>Πιστεύεις ότι μπορείς να βοηθήσεις τον αργοτικό τομέα?</h3></div>
			<div class="small-10 large-6 medium-6 text-center small-centered large-uncentered medium-uncentered columns small-margin-top" id="fade-in-right-1"><h3>Σε ενδιαφέρει η τεχνολογία, η επιχειρηματικότητα και η γεωργία?</h3></div>
			<div class="small-10 large-6 medium-6 text-center small-centered large-uncentered medium-uncentered columns small-margin-top" id="fade-in-left-2"><h3>Σου αρέσει να δουλεύεις με άλλους και να υλοποιείς καινούργιες ιδέες?</h3></div>
			<div class="small-10 large-6 medium-6 text-center small-centered large-uncentered medium-uncentered columns small-margin-top" id="fade-in-right-2"><h3>Θέλεις να γνωρίσεις τις πιο δραστήριες ελληνικές startup?</h3></div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<a href="#event" class="button expand bckg-green opacity-80" id="fade-in-bottom-1">ΠΕΡΙΣΣΟΤΕΡΕΣ ΠΛΗΡΟΦΟΡΙΕΣ</a>
			</div>
			<div class="small-6 columns">
				<a href="#participate" class="button expand bckg-green opacity-80" id="fade-in-bottom-2">ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ</a>
			</div>
		</div>
	</div>
</div>