<div class="bckg-black">
	<div class="row">
		<div class="small-12 columns small-centered text-center">
			<h1 class="large-font white">FAQ</h1>
		</div>
		<div class="small-12 columns small-centered text-center">
			<h4>Αν δεν βρεις την απάντηση, στείλε μας την ερώτηση σου <a href="mailto:faq@agrockathon.eu">εδώ</a></h4>
		</div>
		<div class="small-10 columns small-centered">
			<dl data-accordion class="accordion">
				<dd class="accordion-navigation"> 
					<a href="#what_is_a_hackathon"><h4 class="white">Τί είναι hackathon?</h4></a> 
					<div id="what_is_a_hackathon" class="content">
						<p><h4>Τα <strong>Hackathon</strong> είναι συγκεντρώσεις προγραμματιστών στις οποίες κατασκευάζονται λειτουργικές τεχνολογικές λύσεις σε πολύ περιορισμένο χρόνο.</h4></p>

						<p><h4>Προέρχεται από το συνδυασμό των λέξεων hacking και marathon. Επίσης υπάρχει ως hack day, hackfest ή codefest.</h4></p>

						<p><h4><i>Πρέπει κανείς να έχει υπόψιν ότι η λέξη hacking συχνά χρησιμοποιείται λάθος από τα MME. Στην πραγματικότητα μία από τις ερμηνείες που μπορεί να της δοθεί είναι η περιέργεια που είχαμε όλοι όταν ήμασταν παιδιά και ανοίγαμε τα παιχνίδια μας για να δούμε πως λειτουργούν.</i></h4></p>

						<p><h4>Είναι μια διοργάνωση στην οποία συμμετέχουν προγραμματιστές ή άλλες ειδικότητες που σχετίζονται με την ανάπτυξη υλικού (hardware) ή λογισμικού (software) και συνεργάζονται εντατικά πάνω σε μία συγκεκριμένη ιδέα.  Σε μερικές περιπτώσεις ένα hackathon μπορεί να έχει εκπαιδευτικό χαρακτήρα αλλά συνήθως έχει σκοπό την ανάπτυξη λύσεων που μπορεί μετέπειτα να υιοθετηθούν και να αναπτυχθούν πιο επίσημα. Η διάρκεια ενός hackathon μπορεί να είναι από μία ημέρα ως μια εβδομάδα στη διάρκεια της οποίας οι συμμετέχοντες έχουν την δυνατότητα να δουλεύουν ακατάπαυστα. Κατά συνέπεια ο ύπνος μπαίνει σε δεύτερη προτεραιότητα ενώ είναι σύνηθες τα γεύματα να γίνονται στα γρήγορα μπροστά στον υπολογιστή ή παρέα με άλλους διαγωνιζόμενους.</h4></p>

						<p><h4>Ακολουθεί ένα απόσπασμα από τα συμπεράσματα του facebook για τα hackathon που έχει οργανώσει. <i>“Τα Hackathons είναι τόσο πολύτιμα, επειδή είναι μια στιγμή που είμαστε σε θέση να σκεφτόμαστε πέρα από την επόμενη ημέρα ή εβδομάδα και απλά να χτίσουμε χωρίς περιορισμούς. Παίρνοντας αυτό το χρόνο για να σκεφτούμε διαφορετικά ανταποδίδει με νέες ιδέες και καινούργια πράγματα που υλοποιούνται Ακόμη και καθώς μεγαλώνουμε, ο αντίκτυπος των hackathons παραμένει μαζικός: το 60% των έργων από τα hacks που πραγματοποιήσαμε τον Δεκέμβριο του περασμένου έτους και τον Φεβρουάριο και τον Μάρτιο του τρέχοντος έτους έχουν ήδη χρησιμοποιηθεί, είτε εσωτερικά είτε σε χρήστες του Facebook.”</i></h4></p>

						<p><h3>Επιτυχημένα hackathons:</h3></p>
						<ul>
						<li>
							<p><a target="_blank" href="https://www.facebook.com/notes/facebook-engineering/stay-focused-and-keep-hacking/10150842676418920"><h4>Το κουμπί “Like”, το chat και το timeline του facebook είναι αποτέλεσμα hackathon.</h4></a></p>
						</li>
						<li>
							<p><h4>LinkedIn hackathon.</h4></p><iframe width="640" height="360" src="http://www.youtube.com/embed/XCYEd1w5ufQ" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<p><a target="_blank" href="http://www.2014.euhackathon.eu/"><h4>Το hackathon της ευρωπαϊκής ένωσης.</h4></a></p>
							<iframe width="640" height="360" src="http://www.youtube.com/embed/SFXDY0RsgVU?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<p><h4>Η γαλλική εταιρία εκμετάλλευσης αερίου και ενέργειας οργάνωσε ένα hackathon για την ανάπτυξη ιδεών με 100 συμμετέχοντες (25% φοιτητές) και 25.000 ευρώ σε βραβεία. (Σελίδες στα γαλλικά <a target="_blank" href="http://www.gdfsuez.com/breves/bilan-du-hackathon-gdf-suez-ecole-42/">1</a>, <a target="_blank" href="http://hackathongdfsuez.bemyapp.com/">2</a>)</h4>							
							<iframe width="640" height="360" src="http://www.youtube.com/embed/oV7h8mu4-lw?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
							</p>
						</li>
						<h3>Στην Ελλάδα:</h3>
						<li>
							<a target="_blank" href="http://www.korres.com/default.aspx?page_id=1181">Korres University Lab</a> 400 φοιτητές 5 Πανεπιστήμια. Δείτε το άρθρο της <a target="_blank" href="http://www.lifo.gr/mag/features/4420">LIFO</a>
							<iframe width="640" height="360" src="http://www.youtube.com/embed/iFf6r80LXzQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<a target="_blank" href="http://www.forbes.com/sites/parmyolson/2012/11/09/defying-the-strikes-greece-hosts-microsofts-biggest-hack-day-in-europe/"> Microsoft Hack Day in Athens 550 συμμετέχοντες</a>
						</li>
						<h3>Στην Κρήτη:</h3>
						<li>
							<a target="_blank" href="http://hack4med.homerproject.eu/crete/">Hack4med</a> Στόχος του Hack4Med είναι η ανάπτυξη τόσο διαδικτυακών όσο και mobile εφαρμογών. Όλες οι εφαρμογές θα πρέπει να είναι ανοικτές, σύγχρονες, καινοτόμες και να αφορούν στην κάλυψη αναγκών και την εύρεση τεχνολογικών λύσεων σε καθημερινά προβλήματα που εντοπίζονται κυρίως στους τομείς του τουρισμού, του πολιτισμού, της ενέργειας, της γεωργίας και του περιβάλλοντος!
						</li>
						<li>
							<a target="_blank" href="http://www.isgtw.org/announcement/imarine-blue-hackathon-event-28-june-2-july-2013-crete-greece">Blue Hackathon</a> is the first in a series of events that aims to use the information technology to solve environmental problems related to water and the atmosphere.
						</li>						
						</ul>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#why_participate"><h4 class="white">Γιατί να έρθω;</h4></a>
					<div id="why_participate" class="content">
						<p><h4>
							
								<h3>Για την αγροτική καινοτομία</h3>
								<ul>
									<li>Θα έχεις την ευκαιρία να πεις τη γνώμη σου για το πώς θα πρέπει να είναι τα επόμενα προϊόντα στον αγροτικό τομέα.</li>
									<li>Θα μπορέσεις να παρουσιάσεις ποια είναι αυτά τα πράγματα στα οποία η αγροτική παραγωγή θα ήθελε τη βοήθεια της τεχνολογίας και με ποιο τρόπο.</li>
									<li>Θα έχεις την ευκαιρία να αναπτύξεις ένα προϊόν που θα είναι χρήσιμο στους αγρότες και αποτελεί λύση σε κάποιο πραγματικό πρόβλημα.</li>
								</ul>

								
								<h3>Για την τεχνολογία</h3>
								<ul>
									<li>Θα γνωρίσεις τι μπορεί να κάνει η τεχνολογία όπως είναι σήμερα και τι είναι αυτό που έρχεται στο άμεσο μέλλον.
									</li>

									<li>Θα έρθεις σε επαφή με προγραμματιστές που θα έχουν διαφορετικές ειδικότητες και εμπειρία</li>
								</ul>
								
								<h3>Για την επιχειρηματικότητα και την επαγγελματική δραστηριότητα</h3>
								<ul>
									<li>Για να δεις τις φάσεις μέσα από τις οποίες διαμορφώνεται μια ιδέα, αναπτύσσεται σε πρωτότυπο και τελικά σε προϊόν.
										Έτσι θα καταλάβεις κανείς ποιά είναι τα κόστη και η μελέτη για να γίνει κάποιο προϊόν.
										Τί είναι αυτό που κάνει ένα προϊόν ανταγωνιστικό (προσαρμογή στις ανάγκες κάποιου συγκεκριμένου επαγγελματία, υποστήριξη της γλώσσας, τεχνική υποστήριξη του προϊόντος)</li>
									<li>Θα γνωρίσεις εταιρίες που να δραστηριοποιούνται ήδη στον αγροτικό τομέα και να τους μιλήσεις για το τί θα μπορούσε να βοηθήσει.</li>
									<li>θα γνωρίσεις καινούργια πρόσωπα, επαγγελματίες και θα πάρεις μια ρεαλιστική εικόνα για το που πηγαίνει η αγορά εργασίας και συμβουλές για το που να ψάξεις τα επόμενα βήματα στην Ελλάδα ή στο εξωτερικό.</li>
								</ul>

								<h3>Για την εμπειρία</h3>
								<ul>
									<li>Για να γίνεις μέρος μιας ομάδας και να περάσεις καλά δουλεύοντας πάνω σε κάτι που σου αρέσει. Δεν υπάρχει τίποτα πιο ενδιαφέρον από το να δουλεύεις πάνω στις δικές σου ιδέες όχι γιατί πρέπει αλλά το θέλεις.</li>
									<li>Για να ζήσεις το πως είναι ένα hackathon</li>
								</ul>

							<!-- Get a chance to propose projects, coach a team of young developers and create new products
							Find an entry point in the market of agriculture. Meet professionals from the agriculture domain and understand how your tech company can contribute into their activities
							Meet new people, young developers fellow professionals and form future partnerships
							-->
							
						</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#hack_vs_agro"><h4 class="white">Ποιά η διαφορά hackathon και agrockathon ?</h4></a>
					<div id="hack_vs_agro" class="content">
						<p><h4>Το <strong>Agrockathon</strong> είναι σαν ένα <strong>Hackathon</strong> αλλά εκτός από προγραμματιστές, θα συμμετάσχουν αγρότες, γεωπόνοι και τεχνολόγοι. Επίσης, το φαγητό θα είναι πολύ καλύτερο...!</h4></p>

						<p><h4>Δανειζόμαστε την ιδέα ενός χάκαθον αλλά το αγκρόκαθον είναι κάτι περισσότερο. <br><br>Αυτό είναι το να αποφύγουμε να αναπτύξουμε ιδέες χωρίς να ξέρουμε αν θα ενδιαφέρουν κάποιον. Αλλά να βρεθούν στην ίδια ομάδα οι τελικοί χρήστες και να βοηθήσουν στην επιλογή των ιδεών που θα ήθελαν να δουν στο μέλλον να έρχονται στη διάθεση τους</h4></a>

					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#apply_individually"><h4 class="white">Πρέπει να έχω φτιάξει ομάδα για να δηλώσω συμμετοχή;</h4></a>
					<div id="apply_individually" class="content">
						<p><h4>Όχι, η συμμετοχή γίνεται ατομικά και οι ομάδες θα φτιαχτούν την πρώτη μέρα. <br/><br/>Όμως αν έχεις ήδη βρει άτομα με τα οποία σκοπεύεις να δουλέψεις δεν υπάρχει κανένα πρόβλημα να δηλώσεις συμμετοχή σαν ομάδα. <br/><br/>Σε αυτή την περίπτωση θα πρέπει να είστε <b>ευέλικτοι</b> και <b>ανοιχτοί</b> καθώς οι ομάδες θα είναι αποτέλεσμα των ιδεών και των ικανοτήτων που χρειάζονται σε κάθε πρότζεκτ.</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#necessary_material"><h4 class="white">Πρέπει να φέρω ότι υλικά μπορεί να χρειαστώ μαζί μου;</h4></a>
					<div id="necessary_material" class="content">
						<p><h4>Θα προσπαθήσουμε να παρέχουμε τα βασικά υλικά που χρειάζονται για prototyping (arduino, raspberry pi, breadboards κ.τ.λ) όμως επειδή υπάρχει μεγάλη πιθανότητα να μην είναι αρκετά η συμβουλή μας είναι να προσπαθήσεις να έχεις μαζί σου ότι χρειάζεσαι</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#existing_ideas"><h4 class="white">Αν έχω ήδη την ιδέα μου;</h4></a>
					<div id="existing_ideas" class="content">
						<p><h4>Όλες οι ιδέες είναι καλοδεχούμενες, όσες περισσότερες έχεις τόσο καλύτερα.<br/><br/>Φέρε τις μαζί σου αλλά μην ξεχνάς ότι ο στόχος είναι να τις μοιραστείς με άλλους και να διαλέξουμε όλοι μαζί αυτές που θα είναι οι πιο υλοποιήσιμες και που θα λύνουν πραγματικά προβλήματα </h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#existing_projects"><h4 class="white">Αν έχω κάνει ήδη δουλειά πάνω σε κάτι μπορώ να τη φέρω;</h4></a>
					<div id="existing_projects" class="content">
						<p><h4>Αν έχεις ήδη κάποιο πρότζεκτ στα σκαριά τότε τέλεια! Όπως όμως και με τις ιδέες (δες παραπάνω) μην ξεχνάς ότι πρέπει να το μοιραστείς με άτομα από τους τομείς της αγροτικής παραγωγής για να δεις αν λύνει κάποιο πραγματικό πρόβλημα</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#software_projects"><h4 class="white">Αν η ιδέες μου είναι γύρω από software και δεν σκοπεύω να φτιάξω συσκευές;</h4></a>
					<div id="software_projects" class="content">
						<p><h4>Ο στόχος του Αγκρόκαθον είναι να αναπτυχθούν συσκευές ή συστήματα βασισμένα σε hardware (telematics, wireless sensor networks, internet of things) και low-level software (embedded linux, microcontrollers, embedded C). Κατα συνέπεια ψάχνουμε κόσμο που έχει εμπειρία στα embedded systems αλλά όχι μόνο. <br/><br/>Επειδή γύρω απο τις συσκευές υπάρχει ένα οικοσύστημα από software, όπως πχ mobile applications, web platforms, data analytics.<br/><br/>Σου προτείνουμε λοιπόν να δηλώσεις συμμετοχή αν οι γνώσεις σου είναι κάπου γύρω από αυτά.</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#need_funds"><h4 class="white">Έχω κάτι λεφτά που μου περισσεύουν μήπως τα θέλετε;</h4></a>
					<div id="need_funds" class="content">
						<p><h4>OK γιατί όχι;<br/><br/>Αυτή τη στιγμή ψάχνουμε χορηγούς ώστε να αγοράσουμε το απαραίτητο υλικό.<br/><br/>Αν εκπροσωπείς κάποια εταιρία ή αν είσαι ιδιώτης μην διστάσεις να επικοινωνήσεις μαζί μας για να το συζητήσουμε.
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>
