<div class="bckg-black">
	<div class="row">
		<div class="small-12 columns small-centered text-center">
			<h1 class="large-font white">FAQ</h1>
		</div>
		<div class="small-10 columns small-centered">
			<dl data-accordion class="accordion">
				<dd class="accordion-navigation"> 
					<a href="#panel1"><h4 class="white">Τί είναι hackathon?</h4></a> 
					<div id="panel1" class="content"> 
						<p><h4>Προέρχεται από το συνδυασμό των λέξεων hacking και marathon. Επίσης υπάρχει ως hack day, hackfest ή codefest.</h4></p>

						<p><h4>Πρέπει κανείς να έχει υπόψιν ότι η λέξη hacking συχνά χρησιμοποιείται λάθος από τα MME. Στην πραγματικότητα μία από τις ερμηνείες που μπορεί να της δωθεί είναι η περιέργεια που είχαμε όλοι όταν ήμασταν παιδιά και ανοίγαμε τα παιχνίδια μας για να δουμε πως λειτουργουν.</h4></p>

						<p><h4>Είναι μια διοργάνωση στην οποία συμμετέχουν προγραμματιστές ή άλλες ειδικότητες που σχετίζονται με την ανάπτυξη υλικού (hardware) ή λογισμικού (software) και συνεργάζονται εντατικά πάνω σε μία συγκεκριμένη ιδέα.  Σε μερικές περιπτώσεις ένα χάκαθον μπορεί να έχει εκπαιδευτικό χαρακτήρα αλλά συνήθως έχει σκοπό την ανάπτυξη λύσεων που μπορεί μετέπειτα να υιοθετηθούν και να αναπτυχθούν πιο επίσημα. Η διάρκεια ενός χάκαθον μπορεί να είναι από μία ημέρα ως μια εβδομάδα στη διάρκεια της οποίας οι συμμετέχοντες έχουν την δυνατότητα να δουλεύουν ακατάπαυστα. Κατά συνέπεια ο ύπνος μπαίνει σε δεύτερη προτεραιότητα ενώ είναι συνήθες τα γεύματα να γίνονται στα γρήγορα μπροστά στον υπολογιστή ή παρέα με άλλους διαγωνιζόμενους.</h4></p>

						<p><h4>Ακολουθεί ένα απόσπασμα από τα συμπεράσματα του facebook για τα χάκαθον που έχει οργανώσει. <i>“Τα Hackathons είναι τόσο πολύτιμα, επειδή είναι μια στιγμή που είμαστε σε θέση να σκεφτόμαστε πέρα από την επόμενη ημέρα ή εβδομάδα και απλά να χτίσουμε χωρίς περιορισμούς. Παίρνοντας αυτό το χρόνο για να σκεφτούμε διαφορετικά ανταποδίδει με νέες ιδέες και καινούργια πράγματα που υλοποιούνται Ακόμη και καθώς μεγαλώνουμε, ο αντίκτυπος των hackathons παραμένει μαζικός: το 60% των έργων από τα hacks που πραγματοποιήσαμε τον Δεκέμβριο του περασμένου έτους και τον Φεβρουάριο και τον Μάρτιο του τρέχοντος έτους έχουν ήδη χρησιμοποιηθεί, είτε εσωτερικά είτε σε χρήστες του Facebook.”</i></h4></p>

						<p><h3>Επιτυχημένα χάκαθον:</h3></p>
						<ul>
						<li>
							<p><a target="_blank" href="https://www.facebook.com/notes/facebook-engineering/stay-focused-and-keep-hacking/10150842676418920"><h4>Το κουμπί “Like” στο facebook είναι αποτέλεσμα χάκαθον.</h4></a></p>
						</li>
						<li>
							<p><h4>LinkedIn hackathon.</h4></p><iframe width="640" height="360" src="http://www.youtube.com/embed/XCYEd1w5ufQ" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<p><a target="_blank" href="http://www.2014.euhackathon.eu/"><h4>Το χάκαθον της ευρωπαικής ένωσης.</h4></a></p>
							<iframe width="640" height="360" src="http://www.youtube.com/embed/SFXDY0RsgVU?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<p><h4>Η γαλλική εταιρία εκμετάλλευσης αερίου και ενέργειας οργάνωσε ένα χάκαθον για την ανάπτυξη ιδεών με 100 συμμετέχοντες (25% φοιτητές) και 25.000 ευρώ σε βραβεία. (Σελίδες στα γαλλικά <a target="_blank" href="http://www.gdfsuez.com/breves/bilan-du-hackathon-gdf-suez-ecole-42/">1</a>, <a target="_blank" href="http://hackathongdfsuez.bemyapp.com/">2</a>)</h4>							
							<iframe width="640" height="360" src="http://www.youtube.com/embed/oV7h8mu4-lw?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
							</p>
						</li>
						<h3>Στην Ελλάδα:</h3>
						<li>
							<a target="_blank" href="http://www.korres.com/default.aspx?page_id=1181">Korres University Lab</a> 400 φοιτητές 5 Πανεπιστήμια. Δείτε το άρθρο της <a target="_blank" href="http://www.lifo.gr/mag/features/4420">LIFO</a>
							<iframe width="640" height="360" src="http://www.youtube.com/embed/iFf6r80LXzQ?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
						</li>
						<li>
							<a target="_blank" href="http://www.forbes.com/sites/parmyolson/2012/11/09/defying-the-strikes-greece-hosts-microsofts-biggest-hack-day-in-europe/"> Microsoft Hack Day in Athens 550 συμμετέχοντες</a>
						</li>
						<h3>Στην Κρήτη:</h3>
						<li>
							<a target="_blank" href="http://hack4med.homerproject.eu/crete/">Hack4med</a> Στόχος του Hack4Med είναι η ανάπτυξη τόσο διαδικτυακών όσο και mobile εφαρμογών. Όλες οι εφαρμογές θα πρέπει να είναι ανοικτές, σύγχρονες, καινοτόμες και να αφορούν στην κάλυψη αναγκών και την εύρεση τεχνολογικών λύσεων σε καθημερινά προβλήματα που εντοπίζονται κυρίως στους τομείς του τουρισμού, του πολιτισμού, της ενέργειας, της γεωργίας και του περιβάλλοντος!
						</li>
						<li>
							<a target="_blank" href="http://www.isgtw.org/announcement/imarine-blue-hackathon-event-28-june-2-july-2013-crete-greece">Blue Hackathon</a> is the first in a series of events that aims to use the information technology to solve environmental problems related to water and the atmosphere.
						</li>						
						</ul>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel2"><h4 class="white">Γιατί να έρθω;</h4></a>
					<div id="panel2" class="content">
						<p><h4>Farmers, Agriculturalists:
							Για να δεις τις φάσεις μέσα από τις οποίες διαμορφώνεται μια ιδέα, αναπτύσεται σε πρωτότυπο και τελικά σε προιόν. 
								Έτσι θα καταλάβει κανείς ποιά είναι τα κόστη και η μελέτη για να γίνει κάποιο προιόν.
								Τί έιναι αυτό που κάνει ένα προίον να έιναι ανταγωνιστικό (προσαρμογή στις ανάγκες κάποιου συγκεκριμένου επαγγελματία, υποστήριξη της γλώσσας, τεχνική υποστήριξη του προιόντος)
							
							Θα γνωρίσεις τι μπορεί να κάνει η τεχνολογία όπως είναι σήμερα και τι είναι αυτό που έρχεται στο άμεσο μέλλον.

							Θα γνωρίσεις εταιρίες που να δραστηριοποιούνται ήδη στον αγροτικό τομέα και να τους μιλήσεις για αυτό που θα μπορούσε να σε βοήθησει.

							Θα έχεις την ευκαιρία να πείς τη γνώμη σου για το πώς θα πρέπει να είναι τα επόμενα προίοντα στον αγροτικό τομέα.
							
							Θα μπορέσεις να παρουσιάσεις ποια είναι αυτά τα πράγματα στα οποία η αγροτική παραγωγή θα ήθελε τη βοήθεια της τεχνολογίας και με ποιό τρόπο.

							Για να γίνεις μέρος μιας ομάδας και να περάσεις καλά δουλεύοντας πάνω σε κάτι που σου αρέσει. Δεν υπάρχει τίποτα πιο ενδιαφέρον από το να δουλεύεις πάνω στις δικές σου ιδέες όχι γιατί πρέπει αλλά το θέλεις.

							Θα έχεις την ευκαιρία να αναπτύξεις ένα προιόν που θα είναι χρήσιμο στους αγρότες και αποτελεί λύση σε κάποιο πραγματικό πρόβλημα.

							Θα έρθεις σε επαφή με άλλους προγραμματιστές που θα έχουν διαφορετικές ειδικότητες και εμπειρία

							θα γνωρίσεις επαγγελματίες και θα πάρεις μια ρεαλιστική εικόνα για το που πηγαίνει η αγορά εργασίας και συμβουλές για το που να ψάξεις τα πρώτα σου βήματα στην Ελλάδα ή στο εξωτερικό.

							Get a chance to propose projects, coach a team of young developers and create new products
							Find an entry point in the market of agriculture. Meet professionals from the agriculture domain and understand how your tech company can contribute into their activities
							Meet new people, young developers fellow professionals and form future partnerships
						</h4></p>
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel3"><h4 class="white">Πρέπει να βρώ όλα τα μέλη της ομάδας;</h4></a>
					<div id="panel3" class="content">
						Panel 3.
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel4"><h4 class="white">Πρέπει να φέρω ότι υλικά μπορεί να χρειαστώ μαζί μου;</h4></a>
					<div id="panel4" class="content">
						Panel 3.
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel5"><h4 class="white">Αν έχω ήδη την ιδέα μου;</h4></a>
					<div id="panel5" class="content">
						Panel 3.
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel6"><h4 class="white">Αν έχω κάνει ήδη δουλειά πάνω σε κάτι μπορώ να τη φέρω;</h4></a>
					<div id="panel6" class="content">
						Panel 3.
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel7"><h4 class="white">Αν η ιδέες μου είναι γύρω από software και δεν σκοπεύω να φτιάξω συσκευές;</h4></a>
					<div id="panel7" class="content">
						Panel 3.
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>
