<div class="single-page bckg-black">
	<div class="row">
		<div class="small-12 columns small-centered text-center">
			<h1 class="large-font white">FAQ</h1>
		</div>
		<div class="small-10 columns small-centered">
			<dl class="accordion" data-accordion>
				<dd class="accordion-navigation"> 
					<a href="#panel1">Ερώτηση 1:</a> 
					<div id="panel1" class="content"> 
						Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</div>
				</dd>
				<dd class="accordion-navigation">
					<a href="#panel2">Ερώτηση 2:</a>
					<div id="panel2" class="content">
						Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</dd>
			</dl>
		</div>
	</div>
</div>