<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name active">
        <a href="#" class="height-90"><img class="height-90" src="assets/svg/agrockathon-logo.svg" /></a>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href="#what">Το αγκρόκαθον είναι...</a></li>
        <li><a href="#event">Πώς; Πού; Πότε;</a></li>
        <li><a href="#participate">ΟΚ με ενδιαφέρει</a></li>
        <li><a href="#faq">Έχω όμως κάτι ερωτήσεις</a></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="#about">Ποιοί είμαστε</a></li>
        <li><a href="https://www.facebook.com/agrockathon" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/agrockathon" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>    
      </ul>
    </section>
  </nav>
</div>