<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name active">
      <a href="#" class="height-90"><img class="height-90" src="assets/svg/agrockathon-logo.svg" /></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section 
    <ul class="right">
      <li class="event-btn"><a href="#event">Το γεγονός</a></li>
      <li class="participate-btn"><a href="#participate">Δήλωσε συμμετοχή</a></li>
      <li class="blog-btn"><a href="#blog">Εμπνεύσου!</a></li>
      <li class="hackathons-btn"><a href="#hackathons">Τί είναι "Hackathon"?</a></li>
      <li class="about-btn"><a href="#about">Ποιοί είμαστε</a></li>-->
      <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="#event">Το αγκρόκαθον είναι...</a></li>
      <li class="divider"></li>
      <li><a href="#event">Πώς; Πού; Πότε;</a></li>
      <li class="divider"></li>
      <li><a href="#participate">ΟΚ θέλω κι εγώ</a></li>
      <li class="divider"></li>
      <li><a href="#faq">Έχω όμως κάτι ερωτήσεις</a></li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#about">Ποιοί είμαστε</a></li>
      <li class="divider"></li>
      <li><a href="https://www.facebook.com/agrockathon" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
      <li class="divider"></li>
      <li><a href="https://twitter.com/agrockathon" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
      <li class="divider"></li>
    </ul>    
    </ul>
  </section>
</nav>