<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name active">
      <a href="#" class="height-90"><img class="height-90" src="assets/svg/agrockathon-logo.svg" /></a>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="event-btn"><a href="#event">Το γεγονός</a></li>
      <li class="participate-btn"><a href="#participate">Δήλωσε συμμετοχή</a></li>
      <li class="blog-btn"><a href="#blog">Εμπνεύσου!</a></li>
      <li class="hackathons-btn"><a href="#hackathons">Τί είναι "Hackathon"?</a></li>
      <li class="about-btn"><a href="#about">Ποιοί είμαστε</a></li>
    </ul>
  </section>
</nav>